.image-holder
    height: 92vh
    width: 100%
    position: relative
    background-color: black

    .landing-image
        position: absolute
        height: 90%
        width: 100%
        top: 5%
        opacity: 0.4
