.info-details-container
    background-color: white
    width: 80%
    margin-left: 50%
    transform: translateX(-50%)
    display: grid
    box-shadow: 0 0 50px 60px black
    padding: 1% 2%

    .section-title
        background-color: grey
        margin: 5px
        padding: 10px
        color: white
        font-size: 4vw

.info-backdrop
    position: relative

.info-backdrop-image
    width: 100%

//     position: relative

.info-poster-container
    position: absolute
    width: 25%
    top: 58%
    left: 5%
    z-index: 5

    img
        width: 100%
        border-radius: 0 50px 0 0
        box-shadow: 20px 10px 20px black

.collection-button
    position: absolute
    z-index: 10
    right: 2%
    bottom: 3%

.info-movie-overview
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))
    margin: 8% 2% 0 2%
    text-align: justify
    text-justify: inter-word

.info-movie-title
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)))
    margin: 5% 0 0 35%
    font-weight: bold

.info-recommended-movies
    display: grid
    grid-template-columns: 60% 40%

.movies-grid
    display: grid
    grid-template-rows: 50% 50%
    grid-template-columns: 33% 33% 33%
    text-align: center
    grid-column-gap: 1%
    grid-row-gap: 1%
    margin: 1%

    li
        list-style: none

    h5
        margin: 0

.rec-movie-container
    width: 100%
    height: 80%

    img
        margin: auto
        width: 100%
        height: auto
        max-height: 100%

.selected-rec-movie
    width: 100%
    text-align: center

    img
        width: 85%
        margin-left: 50%
        margin-top: 2%
        transform: translateX(-50%)

.trailer-container
    position: relative
    background-color: black

.trailer-video
    width: 100%

.movie-cast
    li
        list-style: none
        margin-bottom: 10px

.actor-image
    height: 100px
    width: 75px
    margin-right: 20px

@media screen and (max-width: 961px)
    .collection-button
        size: "sm"
