.movies-list
    display: grid
    grid-template-columns: repeat(5, 19.2%)
    width: 80%
    margin-left: 50%
    transform: translateX(-50%)
    grid-column-gap: 1%
    grid-row-gap: 10px
    box-shadow: 0 0 50px 60px black
